extends layout

block content
  div(class="container")
    div(class="row")
      div( class="col-md-4" id="demo")
  script(src='./javascripts/data.js')
  style(@import url='https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap')