extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-md-12" id="bdayTitle")
    div(class="row")
      div( class="col-md-4" id="demo")
    div(class="row")
      div(class="col" id="messageHeader")
      //- The header will read "Leave a bday message!"
    div(class="row")
      div(class="col" id="messageHold") 
      //- the messages will go here.
  script(src='./javascripts/data.js')
  style(@import url='https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap')