body {
background-color:#2660A4 !important;
}

a {
  color: #00B7FF;
}
.row{
  margin-top: 30px !important;
}
#bdayTitle{
  margin: 0 auto;
  font-size:3.5em;
  text-align: center;
  font-family: 'Lobster', cursive;
  color:#87cefa;
}
#demo{
  
  margin: 0 auto;
  border:1px solid white;
  background-color: #87cefa;
  font-family: 'Open Sans', 'Times new Roman';
  text-align: center;

  font-size:1.5em;
}

#messageHold{
  display:inline-block;
}

form{
  width:fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
}

form h3{
display:block !important;
}

form input{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}