body {
background-color:#2660A4 !important;
}

a {
  color: #00B7FF;
}

.col-md-4{
  margin: 0 auto;
  border:1px solid white;
  background-color: #87cefa;
  font-family: 'Open Sans';
  text-align: center;
  
  font-size:1.5em;
}
